.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #0066FF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.center{
  text-align: center;
}

.centerbordertop15{
  text-align: center;
  margin-top: 14%;
}

.centerpadding{
  text-align: center;
  padding: 1%;
}

.bigbuttontext{
  font-size: large;
}

.centerbordertop10{
  text-align: center;
  margin-top: 10%;
}

.right{
  text-align: right;
  font-size: medium;
}

.centerbigtext{
  text-align: center;
  font-size: 6rem;
  border: 3px solid black;
}

.hugebuttontext{
  font-size: 4rem;
  margin-bottom: 1%;
}

.container{
  max-width: 200px;
  margin: auto;
}
.down{
  margin-bottom: 8%;
  text-align: center;
}

.upright {
    position: fixed;
    top: 10px;
    right: 10px; 
    font-size: large;
}

.bigbuttontextleft{
  font-size: large;
  position: fixed;
  top: 10px;
  left: 10px;
}
.bigcenter{
  font-size: 4rem;
  text-align: center;
  margin-top: 5%;
}

.imageleft{
  position: fixed;
  bottom: 1%;
  left: 1%;
}
.quote{
text-align: center;
}